In [314]:
from sklearn import datasets
import pandas as pd
boston = datasets.load_boston()
x=boston.data
y=boston.target
df=pd.DataFrame(x)

In [315]:
df.columns=boston.feature_names  
df["age_age"]=df.AGE**2
df["CRIM_CRIM"]=df.CRIM**2
df["ZN_ZN"]=df.ZN**2

In [316]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,age_age,CRIM_CRIM,ZN_ZN
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,4251.04,0.000040,324.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,6225.21,0.000746,0.0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,3733.21,0.000745,0.0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,2097.64,0.001048,0.0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,2937.64,0.004768,0.0

In [317]:
from sklearn import model_selection
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y,random_state=0)
x2=df.values
x2_train,x2_test,y_train,y_test=model_selection.train_test_split(x2,y,random_state=0)
x_test.shape

(127, 13)

In [318]:
from sklearn.linear_model import LinearRegression
alg1=LinearRegression()
alg2=LinearRegression()

alg1.fit(x_train,y_train)
alg2.fit(x2_train,y_train)
y_pred=alg1.predict(x_test)
y2_pred=alg2.predict(x2_test)
print(alg1.score(x_train,y_train))
print(alg1.score(x_test,y_test))
print(alg2.score(x2_train,y_train))
print(alg2.score(x2_test,y_test))

0.769744837056
0.635362078667
0.773998726624
0.640146184894